#imagen1{
	width: 250px;
	height: 141px;
	background-image: url(../img/uno.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info1{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen1:hover #info1{
	opacity: 5;
}

p#parrafo1{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen1:hover p#parrafo1{
	margin-left: 0px;
}


#imagen2{
	width: 250px;
	height: 141px;
	background-image: url(../img/dos.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info2{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen2:hover #info2{
	opacity: 5;
}

p#parrafo2{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen2:hover p#parrafo2{
	margin-left: 0px;
}

#imagen3{
	width: 250px;
	height: 141px;
	background-image: url(../img/tres.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info3{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen3:hover #info3{
	opacity: 5;
}

p#parrafo3{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen3:hover p#parrafo3{
	margin-left: 0px;
}

#imagen4{
	width: 250px;
	height: 141px;
	background-image: url(../img/cuatro.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info4{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen4:hover #info4{
	opacity: 5;
}

p#parrafo4{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen4:hover p#parrafo4{
	margin-left: 0px;
}

#imagen5{
	width: 250px;
	height: 141px;
	background-image: url(../img/cinco.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info5{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen5:hover #info5{
	opacity: 5;
}

p#parrafo5{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen5:hover p#parrafo5{
	margin-left: 0px;
}

#imagen6{
	width: 250px;
	height: 141px;
	background-image: url(../img/seis.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info6{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen6:hover #info6{
	opacity: 5;
}

p#parrafo6{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen6:hover p#parrafo6{
	margin-left: 0px;
}

#imagen7{
	width: 250px;
	height: 141px;
	background-image: url(../img/siete.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info7{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen7:hover #info7{
	opacity: 5;
}

p#parrafo7{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen7:hover p#parrafo7{
	margin-left: 0px;
}

#imagen8{
	width: 250px;
	height: 141px;
	background-image: url(../img/8.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info8{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen8:hover #info8{
	opacity: 5;
}

p#parrafo8{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen8:hover p#parrafo8{
	margin-left: 0px;
}

#imagen9{
	width: 250px;
	height: 141px;
	background-image: url(../img/9.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info9{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen9:hover #info9{
	opacity: 5;
}

p#parrafo9{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen9:hover p#parrafo9{
	margin-left: 0px;
}
#imagen10{
	width: 250px;
	height: 141px;
	background-image: url(../img/sitio-bl_opt.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info10{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen10:hover #info10{
	opacity: 5;
}

p#parrafo10{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen10:hover p#parrafo10{
	margin-left: 0px;
}
#imagen11{
	width: 250px;
	height: 141px;
	background-image: url(../img/img-11-opt.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info11{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen11:hover #info11{
	opacity: 5;
}

p#parrafo11{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen11:hover p#parrafo11{
	margin-left: 0px;
}
#imagen12{
	width: 250px;
	height: 141px;
	background-image: url(../img/halowen.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info12{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen12:hover #info12{
	opacity: 5;
}

p#parrafo12{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen12:hover p#parrafo12{
	margin-left: 0px;
}
#imagen13{
	width: 250px;
	height: 141px;
	background-image: url(../img/tr.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info13{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen13:hover #info13{
	opacity: 5;
}

p#parrafo13{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen13:hover p#parrafo13{
	margin-left: 0px;
}
#imagen14{
	width: 250px;
	height: 141px;
	background-image: url(../img/catorse.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info14{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen14:hover #info14{
	opacity: 5;
}

p#parrafo14{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen14:hover p#parrafo14{
	margin-left: 0px;
}
#imagen15{
	width: 250px;
	height: 141px;
	background-image: url(../img/homesopt.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info15{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen15:hover #info15{
	opacity: 5;
}

p#parrafo15{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen15:hover p#parrafo15{
	margin-left: 0px;
}
#imagen16{
	width: 250px;
	height: 141px;
	background-image: url(../img/16.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info16{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen16:hover #info16{
	opacity: 5;
}

p#parrafo16{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen16:hover p#parrafo16{
	margin-left: 0px;
}
#imagen20{
	width: 250px;
	height: 141px;
	background-image: url(../img/founda.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info20{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen20:hover #info20{
	opacity: 5;
}

p#parrafo20{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen20:hover p#parrafo20{
	margin-left: 0px;
}
#imagen21{
	width: 250px;
	height: 141px;
	background-image: url(../img/port-ex.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info21{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen21:hover #info21{
	opacity: 5;
}

p#parrafo21{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen21:hover p#parrafo21{
	margin-left: 0px;
}
#imagen19{
	width: 250px;
	height: 141px;
	background-image: url(../img/19.jpg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#info19{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#imagen19:hover #info19{
	opacity: 5;
}

p#parrafo19{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#imagen19:hover p#parrafo19{
	margin-left: 0px;
}
#home-imagen1{
	width: 250px;
	height: 141px;
	background-image: url(../img/home-uno.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#home-info1{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#home-imagen1:hover #home-info1{
	opacity: 5;
}

p#home-parrafo1{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#home-imagen1:hover p#home-parrafo1{
	margin-left: 0px;
}


#home-imagen2{
	width: 250px;
	height: 141px;
	background-image: url(../img/home-dos.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#home-info2{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#home-imagen2:hover #home-info2{
	opacity: 5;
}

p#home-parrafo2{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#home-imagen2:hover p#home-parrafo2{
	margin-left: 0px;
}

#home-imagen3{
	width: 250px;
	height: 141px;
	background-image: url(../img/home-tres.jpeg);
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 10px black;
	margin-top: 20px;
}
#home-info3{
	width: 250px;
	height: 141px;
	opacity: 0;
	background-color: rgba(31,31,31,0.9);
	transition : 3s;
	overflow: hidden;

}

#home-imagen3:hover #home-info3{
	opacity: 5;
}

p#home-parrafo3{
	text-align: center;
	color: white;
	margin-left: -1210px;
	transition: .5s;
}

#home-imagen3:hover p#home-parrafo3{
	margin-left: 0px;
}

.parrafo-lindo {
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px;
    color: #C09853;
    margin-bottom: 18px;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 13px;
}